<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panel">
        <div class="panel-heading">
            <h4>Registro de Alumnos</h4>
        </div>
        <div class="panel-body">

            <div class="form-group">
                <div class="row gutter">                
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <label class="control-label">Cliente:</label>
                        <select chosen="directiveOptions"
                                ng-model="alumno.idcliente" 
                                class="form-control"
                                style="width:280px;"
                                ng-options="cliente.idcliente as  cliente.nombre + ' ' + cliente.apellido for cliente in listaClientes"> 
                            <option value="">Seleccione Un Cliente</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <label class="control-label">Aula:</label>
                        <select chosen="directiveOptions"
                                ng-model="alumno.idaula" 
                                class="form-control"
                                style="width:280px;"
                                ng-options="aula.idaula as  aula.nombreaula for aula in listaAulas"> 
                            <option value="">Seleccione Un Aula</option>
                        </select>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <label class="control-label">Escuela:</label>
                        <input ng-model="alumno.escuela" type="text" placeholder="Escuela" class="form-control" name="title">
                    </div> 

                </div>
                <br>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <button ng-click="guardarAlumno();" ng-show="alumno.idalumno == 0" type="submit" class="btn btn-info">Guardar</button>
                    <button ng-click="actualizarAlumno();" ng-show="alumno.idalumno > 0" type="submit" class="btn btn-success">Actualizar</button>
                    <button ng-click="CancelarAlumno();" type="submit" class="btn btn-danger">Cancelar</button>


                </div>
            </div>
        </div>
    </div>


    <table ng-table="al.listaAlumnos" class="table" show-filter="true" style="text-align:center;">

        <tr ng-repeat="alumno in $data" >
            <td title="'#'" >
                {{$index + 1}}</td>
            <td style="width:22%" title="'Cliente'" filter="{ nombre: 'text'}" sortable="'nombre'">
                {{alumno.nombre}}</td>
            <td style="width:22%" title="'Aula'" filter="{ nombreaula: 'text'}" sortable="'nombreaula'">
                {{alumno.nombreaula}}
            </td>
            <td style="width:21%" title="'escuela'" filter="{ escuela: 'text'}" sortable="'escuela'">
                {{alumno.escuela}}</td>

            <td style="width:21%" title="'Estado'" title="'Estado'" filter="{ estado: 'text'}" sortable="'estado'">
                {{alumno.estado}}</td>

             <td>
                <button ng-click="obtenerAlumno(alumno.idalumno);"  type="submit" class="btn btn-success text-center">
                    <i class="icon-mode_edit"></i></button>

                    <button ng-click="eliminarAlumno(alumno.idalumno);" type="submit" class="btn btn-danger" ng-if="alumno.estado === 'activo'">
                    <i class="icon-thumbs-down"></i></button>

                    <button ng-click="activarAlumno(alumno.idalumno);"  type="submit" class="btn btn-warning" ng-if="alumno.estado === 'inactivo'">
                    <i class="icon-thumbs-up"></i></button>  
            </td>
        </tr>
    </table>


</div>






