<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panel">
        <div class="panel-heading">
            <h4>Registro de Aulas</h4>
        </div>
        <div class="panel-body">

            <div class="form-group">
                <div class="row gutter">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <label class="control-label">Horario:</label>
                        <select chosen="directiveOptions"
                                ng-model="aula.idhorario" 
                                class="form-control"
                                style="width:280px;"
                                ng-options="horario.idhorario as horario.nombre  +' /  ' +  horario.dia + ' / ' + horario.precio for horario in listaHorarios"> 
                            <option value="">Seleccione una opcion</option>
                        </select>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

                        <label class="control-label">Nombre:</label>
                        <input ng-model="aula.nombreaula" type="text" placeholder="Nombre" class="form-control" name="title">

                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <label for="fechaInicio">Fecha de Inicio:</label>
                        <ng-datepicker ng-model="aula.fechaInicio" format="DD.MM.YYYY" locale="es" id="fechaInicio"></ng-datepicker>

                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                        <label for="fechaFinal">Fecha Final:</label>
                        <ng-datepicker ng-model="aula.fechaFinal" format="DD.MM.YYYY" locale="es" id="fechaFinal"></ng-datepicker>

                    </div>

                </div>
            </div>     

            <br>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                <button ng-click="guardarAula();" ng-show="aula.idaula == 0" type="submit" class="btn btn-info">Guardar</button>
                <button ng-click="actualizarAula();" ng-show="aula.idaula > 0" type="submit" class="btn btn-success">Actualizar</button>
                <button ng-click="CancelarAula();" type="submit" class="btn btn-danger">Cancelar</button>


            </div>

        </div>
    </div>

    <table ng-table="au.listaAulas" class="table" show-filter="true" style="text-align:center;">
        <tr ng-repeat="aula in $data" >
            <td>
                {{$index + 1}}</td>
            <td style="width:18%" title="'Dia'" filter="{ dia: 'text'}" sortable="'dia'">
                {{aula.nombre}} / {{aula.dia}} / {{aula.precio | currency}} </td>
            <td style="width:18%" title="'Aulas'" filter="{ nombreaula: 'text'}" sortable="'nombreaula'">
                {{aula.nombreaula}}</td>
            <td style="width:17%" title="'Fecha de Inicio'" filter="{ fechaInicio: 'text'}" sortable="'fechaInicio'">
                {{aula.fechaInicio| date: 'dd-MM-yyyy'}}</td>
            <td style="width:17%" title="'Fecha Final'" filter="{ fechaFinal: 'text'}" sortable="'fechaFinal'">
                {{aula.fechaFinal| date: 'dd-MM-yyyy'}}</td>
            <td style="width:17%" title="'Estado'" filter="{ estado: 'text'}" sortable="'estado'">
                {{aula.estado}}</td>

            <td> 
                <button ng-click="obtenerAula(aula.idaula);" type="submit" class="btn btn-success" title="Actualizar">
                    <i class="icon-mode_edit"></i></button>

                <button ng-click="eliminarAula(aula.idaula);"  type="submit" class="btn btn-danger" title="Desactivar" ng-if="aula.estado === 'activo'" >
                <i class="icon-thumbs-down"></i></button>
            
                <button ng-click="activarAula(aula.idaula);"  type="submit" class="btn btn-warning" title="Activar"  ng-if="aula.estado === 'inactivo'">
                <i class="icon-thumbs-up"></i></button>             
            </td>
        </tr>
    </table>
</div>  





