<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panel">
        <div class="panel-heading">
            <h4>Registro de Aulas</h4>
        </div>
        <div class="panel-body">
            <form id="movieForm" method="post">
                <div class="form-group">
                    <div class="row gutter">
                        <div class="col-md-6 col-sm-6">

                            <label class="control-label">Horario</label>
                            <input ng-model="aula.idhorario" type="text" placeholder="Idhorario" class="form-control" name="title">

                        </div>
                    </div>
                </div>
                <div class="row gutter">
                        <div class="col-md-6 col-sm-6">

                            <label class="control-label">Fecha inicio</label>
                            <input ng-model="aula.fechaInicio" type="text" placeholder="fechaInicio" class="form-control" name="title">

                        </div>
                    <div class="col-md-6 col-sm-6">

                            <label class="control-label">Fecha final</label>
                            <input ng-model="aula.fechaFinal" type="text" placeholder="fechaInicio" class="form-control" name="title">

                        </div>
                    </div>
                
                <br>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <button ng-click="guardarAula();" type="submit" class="btn btn-info">Guardar</button>
                    <button ng-click="actualizarAula();" type="submit" class="btn btn-success">Actualizar</button>
                     <button ng-click="CancelarAula();" type="submit" class="btn btn-danger">Cancelar</button>


                </div>
            </form>
        </div>
    </div>

    <table ng-table="au.listaAulas" class="table" show-filter="true">

        <tr ng-repeat="aula in $data" >
            <td title="'idhorario'" filter="{ idhorario: 'text'}" sortable="'idhorario'">
                {{aula.idhorario}}</td>
            <td title="'Fecha de Inicio'" filter="{ fechaInicio: 'text'}" sortable="'fechaInicio'">
                {{aula.fechaInicio}}</td>
            <td title="'Fecha Final'" filter="{ fechaFinal: 'text'}" sortable="'fechaFinal'">
                {{aula.fechaFinal}}</td>
            <td>
            <td title="'Estado'" >
                {{cliente.estado}}</td>
        <td <a ng-click="obtenerAula(aula.idaula);" type="submit" class="btn btn-success"><i class="icon-repeat2"></i></a></td>
        <br>
             <td <a ng-click="eliminarAula(aula.idaula);" type="submit" class="btn btn-danger"><i class="icon-delete_forever"></i></a></td>

        </tr>
    </table>

</div>  





