<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panel">
        <div class="panel-heading">
            <h4>Registro de Egresos</h4>
        </div>
        <div class="panel-body">
            <form id="movieForm" method="post">
                <div class="form-group">
                    <div class="row gutter">
                         <div class="col-md-6 col-sm-6">
                                <label class="control-label">Cliente</label>
                                <select  ng-model="egreso.idcliente" 
                                         ng-options="cliente.idcliente as cliente.nombre for cliente in listaClientes">  
                                    <option value="">Seleccione una opcion</option>
                                </select>
                            </div>
                        <div class="col-md-6 col-sm-6">
                            <label class="control-label">Concepto</label>
                            <input ng-model="egreso.concepto" type="text" placeholder="Concepto" class="form-control" name="title">
                        </div>
                    </div>
                </div>
                <div class="row gutter">
                        <div class="col-md-6 col-sm-6">
                        <label class="control-label">Descripcion</label>
                        <input ng-model="egreso.descripcion" type="text" placeholder="Descripcion" class="form-control" name="title">
                    </div>
                     <div class="col-md-6 col-sm-6">
                        <label class="control-label">Total</label>
                        <input ng-model="egreso.total" type="text" placeholder="Total" class="form-control" name="title">
                    </div>
                </div>
                <div class="row gutter">  
                    <div class="col-md-6 col-sm-6">
                        <label for="inputDate">Fecha</label>
                        <input ng-model="egreso.fecha" type="date" class="form-control" id="inputDate" placeholder="Enter Date">
                    </div>
                </div>
                <br>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <button ng-click="guardarEgreso();" type="submit" class="btn btn-info">Guardar</button>
                    <button ng-click="actualizarEgreso();" type="submit" class="btn btn-success">Actualizar</button>
                    <button ng-click="CancelarEgreso();" type="submit" class="btn btn-danger">Cancelar</button>


                </div>
            </form>
        </div>
    </div>

    <table ng-table="eg.listaEgresos" class="table" show-filter="true">

        <tr ng-repeat="egreso in $data" >
            <td>
                {{egreso.idegreso}}
            </td>
            <td title="'Idcliente'" filter="{ idcliente: 'text'}" sortable="'idcliente'">
                {{egreso.idcliente}}</td>
            <td title="'Nombre'" filter="{ nombre: 'text'}" sortable="'nombre'">
                {{egreso.nombre}}</td>
            <td title="'Concepto'" filter="{ concepto: 'text'}" sortable="'concepto'">
                {{egreso.concepto}}</td>
            <td title="'Descripcion'" filter="{ descripcion: 'text'}" sortable="'descripcion'">
                {{egreso.descripcion}}</td>
            <td title="'Total'" filter="{ total: 'text'}" sortable="'total'">
                {{egreso.total}}</td>
            <td title="'Fecha'" filter="{ fecha: 'text'}" sortable="'fecha'">
                {{egreso.fecha | date: 'dd-MM-yyyy'}}</td>
            <td title="'Estado'" >
                {{cliente.estado}}</td>

            <td
                <a  ng-click="obtenerEgreso(egreso.idegreso);"   type="submit" class="btn btn-success">
                    <i class="icon-repeat2"></i>

            </td>
        <br>
        <td 
            <a ng-click="eliminarEgreso(egreso.idegreso);" type="submit" class="btn btn-danger">
                <i ng-if="egreso.estado === 'activo'" class="icon-delete_forever"></i>
                <i ng-if="egreso.estado === 'inactivo'" class="icon-check3"></i>
        </td>
        </tr>
    </table>

</div>  


