<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4>Registro de Horarios</h4>
        </div>
        <div class="panel-body">

            <div class="form-group">
                <div class="row gutter">                
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <label class="control-label">Días:</label>
                        <select chosen
                                ng-model="horario.valorCmb"   
                                class="form-control"
                                ng-options="dia.nombre as dia.nombre for dia in lstDias">                                          
                            <option value="">Seleccione Un Día</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <label class="control-label">Curso:</label>
                        <select chosen 
                                ng-model="horario.idcurso" 
                                class="form-control"
                                ng-options="curso.idcurso as  curso.nombre for curso in listaCursos"> 
                            <option value="">Seleccione Un Curso</option>
                        </select>
                    </div>
                
             
         
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <label class="control-label">Hora de Inicio:</label>
                        <input ng-model="horario.horaInicio" type="text" placeholder="00:00" class="form-control" name="title">
                    </div> 
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <label class="control-label">Hora Final:</label>
                        <input ng-model="horario.horaFinal" type="text" placeholder="00:00" class="form-control" name="title">
                    </div>
               </div>
             <br>
                <div class="row gutter">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <label class="control-label">Precio:</label>
                        <input ng-model="horario.precio" type="text" placeholder="$" class="form-control" name="title">
                    </div> 
                </div>
                <br>
              
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <button ng-click="guardarHorario();" ng-show="horario.idhorario == 0" type="submit" class="btn btn-info">Guardar</button>
                    <button ng-click="actualizarHorario();" ng-show="horario.idhorario >0" type="submit" class="btn btn-success">Actualizar</button>
                    <button ng-click="CancelarHorario();" type="submit" class="btn btn-danger">Cancelar</button>


                </div>

            </div>
        </div>
    </div>

    <table ng-table="hr.listaHorarios" class="table" show-filter="true" style="text-align:center;">

        <tr ng-repeat="horario in $data" >
            <td title="'#'" >
                {{$index + 1}}</td>
            <td style="width:15%" title="'Dia'" filter="{ dia: 'text'}" sortable="'dia'">
                {{horario.dia}}</td>
            <td style="width:15%" title="'Curso'" filter="{ nombre: 'text'}" sortable="'nombre'">
                {{horario.nombre}}</td>
            <td style="width:15%" title="'Precio'" filter="{ precio: 'text'}" sortable="'precio'">
                {{horario.precio}}</td>
            <td style="width:14%" title="'Hora de Inicio'" filter="{ horaInicio: 'text'}" sortable="'horaInicio'">
                {{horario.horaInicio}}</td>
            <td style="width:14%" title="'Hora Final'" filter="{ horaFinal: 'text'}" sortable="'horaFinal'">
                {{horario.horaFinal}}</td>
            <td style="width:14%" title="'Estado'" title="'Estado'" filter="{ estado: 'text'}" sortable="'estado'">
                {{horario.estado}}</td>

            <td>
                <button ng-click="obtenerHorario(horario.idhorario);"  type="submit" class="btn btn-success">
                <i class="icon-mode_edit"></i></button>

                <button ng-click="eliminarHorario(horario.idhorario);"  type="submit" class="btn btn-warning" ng-if="horario.estado === 'activo'" >
                <i class="icon-thumbs-up"></i></button>
            
                <button ng-click="activarHorario(horario.idhorario);"  type="submit" class="btn btn-danger" ng-if="horario.estado === 'inactivo'">
                <i class="icon-thumbs-down"></i></button> 
            </td>
        </tr>
    </table>


</div>






