<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panel">
        <div class="panel-heading">
            <h4>Registro de Trabajos y Servicios</h4>
        </div>
        <div class="panel-body">

            <div class="form-group">
                <div class="row gutter">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <label class="control-label">Cliente:</label>
                        <select chosen="directiveOptions"
                                ng-model="pago.idcliente"                          
                                class="form-control"
                                style="width:280px;"
                                ng-change="devuelvePagos()"
                                ng-options="cliente.idcliente as cliente.nombre +' ' +  cliente.apellido for cliente in listaClientes">  
                            <option value="">Seleccione Un Cliente</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <label class="control-label">Concepto:</label>
                        <select chosen="directiveOptions"
                                ng-model="pago.valorCmboCncept" 
                                class="form-control"
                                style="width:280px;"
                                ng-options="concepto.nombre as concepto.nombre for concepto in lstConceptos">                                       
                            <option value="">Seleccione Un Concepto</option>
                        </select>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                        <label for="fecha">Fecha:</label>
                        <ng-datepicker ng-model="pago.fecha" format="DD.MM.YYYY" locale="es" id="fecha" ></ng-datepicker>

                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <label class="control-label">Total:</label>
                        <input ng-model="pago.total" type="text" placeholder="$" class="form-control" name="title">
                    </div>

                </div>            
                <br>
                <div class="form-group">
                    <label class="control-label">Descripción:</label>
                    <textarea ng-model="pago.descripcion" type="text" placeholder="Descripción" class="form-control" name="Descripción" rows="5"></textarea>
                </div>
                <br>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <button ng-click="guardarPago();" ng-show="pago.idpago == 0" type="submit" class="btn btn-info">Guardar</button>
                    <button ng-click="actualizarPago();" ng-show="pago.idpago > 0" type="submit" class="btn btn-success">Actualizar</button>
                    <button ng-click="CancelarPago();" type="submit" class="btn btn-danger">Cancelar</button>


                </div>

            </div>
        </div>
    </div>

    <table ng-table="pg.listaPagos" class="table" show-filter="true" style="text-align:center;">
        <tr ng-repeat="pago in $data" >
            <td style="width:4%" title="'#'">
                {{$index + 1}}</td>       
            <td style="width:15%" title="'Concepto'" filter="{ concepto: 'text'}" sortable="'concepto'">
                {{pago.concepto}}</td>
            <td style="width:10%" title="'Fecha'" filter="{ fecha: 'text'}" sortable="'fecha'">
                {{pago.fecha| date: 'dd-MM-yyyy'}}</td>  
            <td style="width:10%" title="'Abono'" filter="{ abono: 'text'}" sortable="'abono'">
                {{pago.abono  | currency}}</td>
            <td style="width:10%" title="'Total'" filter="{ total: 'text'}" sortable="'total'">
                {{pago.total  | currency}}</td>
            <td style="width:10%" title="'Saldo'" filter="{ saldo: 'text'}" sortable="'saldo'">
                {{pago.saldo  | currency}}</td>
            <td style="width:10%" title="'Descripcion'" filter="{ descripcion: 'text'}" sortable="'descripcion'">
                {{pago.descripcion}}</td>
            <td style="width:10%" title="'Estado'" title="'Estado'" filter="{ estado: 'text'}" sortable="'estado'">
                {{pago.estado}}</td>
            <td> 
                <button ng-click="obtenerPago(pago.idpago);" type="submit" class="btn btn-success">
                <i class="icon-mode_edit"></i></button>

                <button ng-click="abrirModal(pago.idpago);"  type="submit" class="btn btn-info" >
                <i class="icon-credit"></i></button>   

                <button ng-click="abrirModal1(pago.idpago)"  type="submit" class="btn btn-warning">
                <i class="icon-local_atm"></i></button> 

                <button ng-click="abrirMoadal2(pago.idpago)" type="submit" class="btn btn-danger">
                <i class="icon-square-cross"></i></button>
            </td>
        </tr>
    </table>
</div>


<!-- Modal Abono -->
<div class="modal fade" id="mdlAbonos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Para Abonar:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               Cantidad: 
               <input ng-model="historial.abono" type="text" placeholder="$"/>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
               <button ng-click="guardarHistorial();"  type="submit" class="btn btn-info">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Saldo -->
<div class="modal fade" id="mdlSaldos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Para Saldo:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Cantidad: 
        <input type="text" placeholder="$"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-info">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Cancelado -->
<div class="modal fade" id="mdlcancelado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cancelado:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Para Cancelar:
        <textarea ng-model="" type="text" placeholder="Descripción" class="form-control" name="Descripción" rows="5"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-info">Guardar</button>
      </div>
    </div>
  </div>
</div>
